@import url(https://fonts.googleapis.com/css?family=Alegreya:400,900italic,900,700italic,700,400italic);

/*These rules create the basic layout*/

html {
    background: #969292;
}

body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 10px ridge #000;
    background: #3c3b3b;
    font-family: 'Alegreya', serif;
}

header {
    height: 400px;
    background: #600a0a;
}

/*article {
    width: 1200 px;
    height: 600px;
    background: #383839;
}*/

footer {
    height: 50px;
    background: #000;
    text-align: center;
}


/*These rules format the site navigation*/

nav {
    height: 100px;
    width: 1200px;
    background: #000;
    position: fixed;
    top: 0;
}

ul {
    list-style-type: none;
    padding-top: 40px;
    padding-right: 25px;
    text-align: right;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding: 12px;
    color: #600a0a;
    font-size: 18px;
    text-transform: uppercase;
}

a:hover {
    color: #fff;
}


/*These rules format the site content*/

p {
width: 50%;
    font-size: 24px;
    color: #fff;
    line-height: 30px;
    text-align: justify;
    margin:100px 250px 100px 250px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    padding: 50px;
}


.dropcap {
    float: left;
    color: #600a0a;
    font-size: 100px;
    line-height: 40px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

h2 {
    font-size: 16px;
    color: #600a0a;
    padding: 20px;
}

h1 {
    font-size: 100px;
    color: #fff;
    text-align: center;
    padding-top: 175px;
}